body
	padding-bottom 20px
	color #231f20
	font-family "PT Sans"
	background-color #797979
	cursor default

	+mobile()
		padding-top 0
		padding-bottom 0
.stamp
	position absolute
	right 0
	top 0
	background-image url(../images/stamp.png)
	width 252px
	height 106px

a
	color: #014f98

