.header
    padding-bottom 40px
    padding-top 145px
    position relative
    margin: 0 54px 0 49px
    &__title
        background-image url(../images/title.png)
        margin 0 auto
        width 216px
        height 110px
        text-indent -2000px
